@import url('https://fonts.googleapis.com/css2?family=Chela+One&family=Fira+Sans:ital@0;1&family=Playfair+Display:ital,wght@1,500&family=Roboto&display=swap');
          .image-container {
            position: relative;
            width: 100%;
            height: 800px;
            overflow: hidden;
          }
      
          .image-one, .image-two, .image-four,.image-five,.image-six{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-size: cover;
          }

          
      
          .image-one {
            background-image: url("https://github.githubassets.com/images/modules/site/home-campaign/hero-bg-2x.webp");
            z-index: 1;
            height: 100%;
            width: 200%;
          }
          
          .image-two {
            background-image: url("https://github.githubassets.com/images/modules/site/home-campaign/hero-drone.webp");
            z-index: 2;
            width: 20%;
            height: 20%;
            top: 30%;
            left: 70%;
            animation: moveUpDown 3s infinite alternate;
          }
          @keyframes moveUpDown {
            0% {
              transform: translateY(0);
            }
            100% {
              transform: translateY(-20px);
            }
        }
        .text-hello {
            position: absolute;
            top: 25%;
            left: 25%;
            transform: translate(-50%, -50%);
            color: #fff;
            font-size: 35px;
            font-weight: bold;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
            z-index: 4; 
            line-height: 0.2;
            font-family: 'Arial', sans-serif;
          }
        .text-desc {
            position: absolute;
            top: 170%;
            left: 34%;
            transform: translate(-50%, -50%);
            color: #fff;
            font-size: 17px;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
            z-index: 4; 
            line-height: 1.1;
            font-family: 'Arial', sans-serif;
          }
        .about{
            position: absolute; 
            top: 250%;
            left: 11%;
            transform: translate(-50%, -50%);
            color: blueviolet;
            font-size: 17px;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
            z-index: 4; 
            font-weight: bold;
            font-family: 'Arial', sans-serif;
            background: none;
            border: none;
        }
        .contact{
            position: absolute; 
            top: -35%;
            right:-130%;
            transform: translate(-50%, -50%);
            color: white;
            font-size: 17px;
            z-index: 4; 
            font-weight: bold;
            font-family: 'Arial', sans-serif;
            background: none;
            border-color: white;
            padding: 12px;
            border-radius: 10px;
        }

        .image-four {
            background-image: url("https://github.githubassets.com/images/modules/site/home-campaign/footer-galaxy.jpg");
            height: 100%;
            width: 99.40%;
            padding-left: -10px;
            top: 134%;
        }
        .image-five {
          background-image: url("./photos/ani.jpeg");
          height: 500px;
          width: 300px;
          top: 140%;
          left:10%;
          filter:drop-shadow(8px 8px 8px rgb(20, 20, 92));
        }
        .text-info {
          position: absolute;
          top: 35%;
          left: 60%;
          transform: translate(-50%, -50%);
          color: #fff;
          font-size: 40px;
          font-weight: bold;
          text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
          z-index: 5; 
          line-height: 0.2;
          font-family: 'Arial', sans-serif;
        }

        .text-info-desc {
          position: relative;
          top: 120%;
          left: 10%;
          transform: translate(-50%, -50%);
          color: #fff;
          font-size: 25px;
          display: inline;
          line-height :1.8;
          font-family: 'Arial', sans-serif;
        }
        .info-name {
          position: relative;
          top: 120%;
          left: 60%;
          transform: translate(-50%, -50%);
          color: #fff;
          font-size: 45px;
          /* display: inline; */
          line-height :1;
          font-family: 'Arial', sans-serif;
        }

        .info-desc {
          position: relative;
          top: 100%;
          right: -10%;
          display: inline;
          color: #fff;
          font-size: 15px;
          /* z-index: 4;  */
          line-height: .8;
          font-family: 'Arial', sans-serif;
        }

        .image-six{
          background-color:black;
          height: 100px;
          width: 100%;
        }

        .image-six {
          background-image: url("https://github.githubassets.com/images/modules/site/home-campaign/bg-stars-1.webp");
          height: 120%;
          width: 99.40%;
          padding-left: -10px;
          top: 234%;
        }

        .projects{
          position: absolute; 
          top: -45%;
          left:8%;
          transform: translate(-50%, -50%);
          color: white;
          font-size: 17px;
          z-index: 4; 
          /* font-weight: bold; */
          font-family: 'Arial', sans-serif;
          background: none;
          border: none;
          padding: 20px;
          }
          .containerbox {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            height: 100vh;
            
          }
          
          .box {
            width: 150px;
            height: 150px;
            background-color: #0e0220;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 15px;
            border-radius: 15px;
            overflow: hidden;
            filter: drop-shadow(5px 5px 5px rgb(41, 10, 69));
          }
          
          .box svg {
            width: 70%; /* Adjust the size of the SVG logo */
            height: auto;
            fill: white; /* Color of the Java logo */
          }
          .text-skills {
            position: absolute;
            top: 5%;
            left: 25%;
            transform: translate(-50%, -50%);
            color: #fff;
            font-size: 35px;
            font-weight: bold;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
            z-index: 4; 
            line-height: 0.2;
            font-family: 'Arial', sans-serif;
          }